<!DOCTYPE html>
<html lang="en" ng-app="GimmeMusic">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="Music,Discover Artists"/>
	<meta name="author" content="Michell Ocaña - Frontend Developer">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="theme-color" content="#fbb176">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="dist/css/app.min.css">
	<title>Gimme Music</title>
	<link rel="icon" href="dist/img/icon-4x.png">
	<link rel="manifest" href="manifest.json">
	<meta name="mobile-web-app-capable" content="yes">
</head>
<body ng-controller="AppCtrl" ng-init="init()">	
	<svg-sprite svg-src="dist/img/img.svg"></svg-sprite>

	<div class="artist">
		<img ng-src="{{artist.image}}" 
			 ng-alt="{{artist.name}}" 
			 ng-class="{'artist-image--visible': artist}"
			 class="artist-image">

		<div class="artist-links">
			<a href="{{link.url}}" 
			   class="artist-link" 
			   ng-repeat="link in artist.links" 
			   target="{{link.type === 'spotify' ? '_self' : '_blank'}}">
				<svg class="artist-link-icon">
					<use xlink:href="" ng-attr-xlink:href="{{'#' + link.type}}"></use>
				</svg>
			</a>
		</div>
	</div>

	<h1 class="artist-name">
		{{artist.name || 'Choose your styles and i give you an artist'}}
	</h1>

	<ul class="genres" ng-controller="CheckboxCtrl" ng-init="init()">
		<li class="genre">
			Styles i like:
		</li>
		<li class="genre">
			<genre genre-id="genreEdm" genre-checked="genres.edm" genre-name="edm">Eletronic</genre>
		</li>	
		<li class="genre">
			<genre genre-id="genrePop" genre-checked="genres.pop" genre-name="pop">Pop</genre>
		</li>	
		<li class="genre">
			<genre genre-id="genreRock" genre-checked="genres.rock" genre-name="rock">Rock</genre>
		</li>	
		<li class="genre">
			<genre genre-id='genreRap' genre-checked="genres.rap" genre-name="rap">Rap/Hip-Hop</genre>
		</li>	
	</ul>

	<button type="button" class="button" ng-click="getArtist()">
		<span class="button-default-text">Gimme Music</span>
	</button>
	
	<!-- ANGULAR -->
	<script src="src/js/angular.min.js"></script>

	<!-- FACTORIES -->
	<script src="src/js/factory/artist.js"></script>

	<!-- DIRECTIVES -->
	<script src="src/js/directive/directives.js"></script>

	<!-- CONTROLLERS -->
	<script src="src/js/controller/appCtrl.js"></script>
	<script src="src/js/controller/checkboxCtrl.js"></script>
	
	<!-- APP -->
	<script src="src/js/app.js"></script>

	<!-- FIREBASE -->
	<script src="src/js/firebase.js"></script>
</body>
</html>